body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
  padding: 16px;
}

h1 {
  margin-bottom: 12px;
}

h2 {
  margin: 16px 0 8px 0;
}

button {
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  background: #ffffff;
  color: #000000;
}


button:hover {
  background: #dbdbdb;
}
